<!-- VIDEO AREA START -->
<div class="ltn__video-popup-area ltn__video-popup-margin">
    <div class="container" style="margin-top: 108px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__video-bg-img ltn__video-popup-height-600 bg-overlay-black-10-- bg-image"
                    data-bg="../../../assets/img/bg/15.jpg">
                    <a class="ltn__video-icon-2 ltn__video-icon-2-border"
                        href="https://www.youtube.com/embed/ATI7vfCgwXE?autoplay=1&amp;showinfo=0"
                        data-rel="lightcase:myCollection">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- VIDEO AREA END -->