<!-- Category Widget -->
<div class="widget ltn__menu-widget" style="margin-bottom: 40px;">
    <h4 class="ltn__widget-title ltn__widget-title-border">Product categories</h4>
    <ul>
        <li><a href="#">Body <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
        <li><a href="#">Interior <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
        </li>
        <li><a href="#">Lights <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
        <li><a href="#">Parts <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
        <li><a href="#">Tires <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
        <li><a href="#">Uncategorized <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
        </li>
        <li><a href="#">Wheel <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
    </ul>
</div>