<!-- Top Rated Product Widget -->
<div class="widget ltn__top-rated-product-widget" style="margin-bottom: 40px;">
    <h4 class="ltn__widget-title ltn__widget-title-border">Top Rated Product</h4>
    <ul>
        <li>
            <div class="top-rated-product-item clearfix">
                <div class="top-rated-product-img">
                    <a href="product-details.html"><img src="../../../assets/img/product/1.png" alt="#"></a>
                </div>
                <div class="top-rated-product-info">
                    <div class="product-ratting">
                        <ul>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                        </ul>
                    </div>
                    <h6><a href="product-details.html">Mixel Solid Seat Cover</a></h6>
                    <div class="product-price">
                        <span>$49.00</span>
                        <del>$65.00</del>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="top-rated-product-item clearfix">
                <div class="top-rated-product-img">
                    <a href="product-details.html"><img src="../../../assets/img/product/2.png" alt="#"></a>
                </div>
                <div class="top-rated-product-info">
                    <div class="product-ratting">
                        <ul>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                        </ul>
                    </div>
                    <h6><a href="product-details.html">Vegetables Juices</a></h6>
                    <div class="product-price">
                        <span>$49.00</span>
                        <del>$65.00</del>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="top-rated-product-item clearfix">
                <div class="top-rated-product-img">
                    <a href="product-details.html"><img src="../../../assets/img/product/3.png" alt="#"></a>
                </div>
                <div class="top-rated-product-info">
                    <div class="product-ratting">
                        <ul>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                        </ul>
                    </div>
                    <h6><a href="product-details.html">Coil Spring Conversion</a></h6>
                    <div class="product-price">
                        <span>$49.00</span>
                        <del>$65.00</del>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>