<!-- NEWSLETTER AREA START -->
<div class="ltn__newsletter-area section-bg-1 bg-overlay-black-90 pt-110 pb-90 bg-image" data-bg="img/bg/2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="ltn__newsletter-inner text-center">
                    <h1 class="white-color">We make your inbox better</h1>
                    <p class="white-color">Sign up to our newsletter to receive grooming tips, style
                        inspiration, <br> exclusive access to pre-launch product pricing and more.</p>
                    <form action="#" class="ltn__form-box">
                        <input type="email" name="email" placeholder="Email*">
                        <div class="btn-wrapper">
                            <button class="theme-btn-1 btn btn-effect-1 text-uppercase" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NEWSLETTER AREA END -->